# Creating UI with gradio

In [1]:
import warnings

warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import gradio as gr

In [3]:
df = pd.read_csv('gradio_dataset.csv')

In [4]:
df.head(5)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [24]:
df['Insulin'].max()

846

In [5]:
print(df.columns)

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [6]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [8]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [9]:
x = df.drop(['Outcome'], axis = 1 ) 
y = df['Outcome']

In [10]:
x

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [11]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

# train_test_split

In [12]:
from sklearn.model_selection import train_test_split

x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2)

In [13]:
# scaling the data 
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [15]:
x_train_scaled = sc.fit_transform(x_train)
x_test_scaled = sc.fit_transform(x_test)

In [16]:
x_train_scaled

array([[-1.13838104, -0.55700322,  0.45979435, ...,  0.33084178,
        -0.69195254, -0.77676951],
       [ 0.05592218, -0.2452439 ,  0.45979435, ...,  0.95536843,
        -0.69805249,  0.43592767],
       [-0.54122943,  0.03533949,  0.04416869, ...,  0.9171321 ,
         1.28443308, -0.86339073],
       ...,
       [-0.54122943, -0.61935508,  0.04416869, ...,  1.09556829,
         0.64698772, -0.69014828],
       [ 0.35449798, -0.27641983,  0.1480751 , ..., -1.02017505,
        -0.17650629, -0.51690582],
       [ 1.2502254 ,  0.00416356,  0.87542002, ..., -0.44663017,
        -0.62790301, -0.95001196]])

# Model building

In [17]:
from sklearn.neural_network import MLPClassifier
model = MLPClassifier(max_iter = 1000 , alpha=1)

In [18]:
# model fitting 
model.fit(x_train_scaled,y_train)

MLPClassifier(alpha=1, max_iter=1000)

In [19]:
print("accuracy:", model.score(x_test_scaled, y_test))

accuracy: 0.7532467532467533

# Create the function for Gradio

#### The function provides a way for Gradio to get input from users and pass it on to the ML model, which will then process it and then pass it back to Gradio which then passes the result out.

In [20]:
#geting our columns

print(df.columns)

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [21]:
def diabetes(Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin,BMI, DiabetesPedigreeFunction, Age):
    #converting arguments into arrays
    x = np.array([Pregnancies ,Glucose ,BloodPressure, SkinThickness, Insulin,BMI, DiabetesPedigreeFunction, Age])
    
    x = x.reshape(1, -1)
    
    prediction = model.predict(x)
    
    return prediction[0]

# Create Gradio Interface

In [22]:
app = gr.Interface(fn=diabetes, inputs=['number','number','number','number','number','number','number','number'], outputs="textbox",description="This is a diabetes model")

In [23]:
app.launch()

Running on local URL:  http://127.0.0.1:7860

To create a public link, set `share=True` in `launch()`.

In [ ]:
6	148	72	35	0	33.6	0.627	50